
@include media-breakpoint-down(md) {

  /**
   *
   * Header
   *
   */
  header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    .logo {
      display: none;
    }
    .navbar {
      background-color: #3c8dbc;
      -webkit-transition: margin-left .3s ease-in-out;
      -o-transition: margin-left .3s ease-in-out;
      transition: margin-left .3s ease-in-out;
      margin-bottom: 0;
      margin-left: 50px;
      border: none;
      min-height: 50px;
      border-radius: 0;
      color: #ffffff;
      a {
        color: #ffffff;
      }
    }
  }

  /**
   *
   * Sidebar
   *
   */
  .main-sidebar {
    position: absolute;
    padding-top: 50px;
    min-height: 100%;
    width: 50px;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: #222d32;
  }
  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      &.header {
        display: none;
      }
      a {
        position: relative;
        color: #fff;
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        span {
          display: none;
        }
      }
      .fa {
        font-size: 30px;

      }
    }
  }
  //.sidebar-menu>li.header {
    //colr: #4b646f;
    //background: #1a2226;
    //overflow: hidden;
    //text-overflow: clip;
    //white-space: nowrap !important;
    //padding: 10px 25px 10px 15px;
    //font-size: 12px
  //}

  /**
   *
   * Content
   *
   */
  .content-wrapper {
    background-color: #ecf0f5;
    z-index: 990;
    min-height: 100%;
    margin-left: 50px; /* for sidebar */
  }

  .content-header {
    background: transparent;
    padding: 10px 10px 0 10px;
    h1 {
      margin: 0;
      font-size: 20px;
    }
    .breadcrumb {
      background: transparent;
      font-size: 10px;
      padding: 7px 0 0 0;
      li {
        a {
          color: #444;
          text-decoration: none;
          .fa {
            margin-right: 5px;
          }
        }
      }
    }
    .breadcrumb-item {
      &+::before {
        display: inline-block;
        padding-right: .5rem;
        padding-left: .5rem;
        color: #868e96;
        content: ">\00a0";
      }
    }
  }
  .content {
    padding: 15px;
    margin-right: auto;
    padding-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .stats {
    .card {
      margin-bottom: 20px;
      .card-body {
        .icon {
          position: absolute;
          right: 20px;
          top: 70px;
          i {
            font-size: 70px;
            color: rgba(0,0,0,0.2);
          }
        }
      }
      .btn {
        width: 100% !important;
        background: rgba(0,0,0,0.1);
        border: none;
        border-radius: 0;
      }
    }
  }

  .bg-orange {
    background-color: $orange;
    color: #fff;
  }
  .bg-teal {
    background-color: $teal;
    color: #fff;
  }
  .bg-cyan {
    background-color: $cyan;
    color: #fff;
  }
  .bg-green {
    background-color: $green;
    color: #fff;
  }

  /**
   *
   * Footer
   *
   */
  footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    margin-left: 50px;
  }


}

